<div class="main-container">
  <h2 class="title">Update User</h2>
  <form [formGroup]="updateCustomerForm" (ngSubmit)="submit()">
    <div class="form-group form-input">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName" placeholder="Enter first name" required>
    </div>
    <div class="form-group form-input">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" placeholder="Enter last name" required>
    </div>
    <div class="form-group form-input">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email" placeholder="Enter email" required>
    </div>
    <div class="form-group form-input">
      <label>Company Name</label>
      <input type="text" class="form-control" formControlName="copanyName" placeholder="Enter company name" required>
    </div>
    <div class="form-group form-input">
      <label>City</label>
      <input type="text" class="form-control" formControlName="city" placeholder="Enter company name" required>
    </div>
    <button type="submit" class="btn btn-primary submit">Submit</button>
  </form>
</div>