<div class="main-container">
  <h2 class="title">Customer Details</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Full Name</th>
        <th scope="col">Company Name</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{customer?.id}}</th>
        <td>{{customer?.firstname}} {{customer?.lastname}}</td>
        <td>{{customer?.companyname}}</td>
        <td>{{customer?.city}}</td>
      </tr>
    </tbody>
  </table>
</div>